@CHARSET "UTF-8";
body{
	margin: 0;
	background-image: url(http://pfandkredit-nrw.de/ebayTemplate_2/img/uhrwerk.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	max-height: 1000px
}

#it--header,
#it--footer {
	position: relative;
}
.it--wrapper,
.pagecontainer {
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}
.pagecontainer {
	min-width: 960px;
	max-width: 1280px;
}

.it-clearfix {
	clear: both;
	overflow: hidden;
}
.it--logo {
	background-repeat: no-repeat;
	display: block;
}

.it--banner {
	width: 100%;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

#it--content {
	width: 100%;
	overflow: hidden;
}
#it--content .left {
	float: left;
	width: 50%;
	margin-right: 5%;
	margin-left: 5%;
}
#it--content .right {
	float: right;
	width: 40%;
}

@media only screen and (max-width:480px) {
	.it--wrapper {
		width: 100%;
		padding: 0 !important;
	}


	.it--logo {
		background-position: center 0;
		width: 100%;
	}
	#it--content .left,
	#it--content .right {
		float: none;
		width: auto;
	}
}

.stBadge-accent,
td#CentralArea div.v4stabl,
td#CentralArea span.pdmt:first-child,
.r3_t, .r3_t b, .r3_bl, .r3_bl b,
.cmpBr,
span.pdmt img,
span.pdmt .label,
.itemseparator,
.mi {
    display: none;
}

table.v4clp li {
	padding-top: 0;
}

table.pgbc {
	border: none;
	background: none;
}

table.pgbc,
td#CentralArea div.dynpg,
.r3_cm,
.rs-pview {
	padding: 0 !important;
}

.it--slogan {
	font-size: 150% !important;
}
