@CHARSET "UTF-8";
74091

@import url("responsive.css");
#menu{
  background: transparent;
  text-align: center;
  font-family: 'Merriweather Sans', Arial, Helvetica, sans-serif;
}
#menu ul {
  display: inline-block;
  list-style: none;
  padding:0;

}
#menu ul li {
  display: inline-block;
  padding:5px;

}
#menu ul li a{
  color:white;
  text-decoration:none;
  padding: 5px 15px;
}
#menu ul li a:hover{
  color: #95845A;
}
ul{
  list-style: none;
}
#it--content li:before {
  content: "\f00c"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}

.it--slogan:before {
content: "";
}
.payment  img {
  width:49%;
}
#vorort img {
  width:80px;
}
.tel {
  background-color: #95845A !important;
  position: relative;
  color: #fff;
  padding:15px;
  font-family: 'Merriweather Sans', Arial, Helvetica, sans-serif;
  background-color:#f5f5f5;
  text-align: center;
}
.tel a {
  color: #fff;
  text-decoration: none;
}
.tel a:hover {
  color: #313131;
}
.tel a em {
  padding-right: 5px;
}

.banner img{
  width:100%;
}
#it--content {
      background: #fff;
}
#it--content .left>div {
  padding:15px;
  margin: 15px;
  background-color:#f5f5f5;
  text-align: center  ;
  box-shadow: inset 0px 0px 30px -10px;
  word-wrap: break-word;
}
/*.info.two-column>div{
width: 50%;
float:left;

}*/
#it--content .left div h1
{
  border-bottom: 2px solid #c1c1c1;
  padding: 5px;
  text-align:center;
  font-family: 'Merriweather', Arial, Helvetica, sans-serif;
  color: #313131;
  font-size: 16pt;
}
#it--content .left div h1::before{
    content: "\f219";
    font-family:'FontAwesome';
    padding-right: 5px;
    color: #c1c1c1;
}
#it--content .left div h1::after{
    content: "\f219";
    font-family:'FontAwesome';
    padding-left: 5px;
    color: #c1c1c1;
}

#it--content .left a {
  color: #95845A;
  text-decoration: none;
}
#it--content .left a:hover{
  color: #313131;
  text-decoration: none;
}
.price {
  padding:15px;
  margin: 15px;
  background-color:#f5f5f5;
  text-align: right;
  color:#313131;
  box-shadow: inset #000 0px 0px 30px -10px;
  font-family: 'Merriweather', Arial, Helvetica, sans-serif;
  font-size: 24pt;
}

.price h2{
  font-size: 16pt;
  border-bottom: 2px solid #c1c1c1;
}
.regular-price span{
  border-bottom: #313131 double;
  font-size: 24pt;
  text-shadow: 3px 3px 5px #95845A
}
.regular-price em {
  font-size: 8pt;
}

.it--description:before {
content: "";
}
.it--logo {
  /*background-image: url('example/images/edeluhren-logo-01.png');*/
}
.it--logo img{

}
.it--banner {
background-image: url();
background-size: 100% 450px !important;
}

.it--wrapper {
    font-family: 'Merriweather Sans', Arial, Helvetica, sans-serif;
    font-size: 10pt;
    padding: 0 50px;
    background: transparent;
    word-wrap: break-word;
}
#it--header {
    position: relative;
}
#it--header .it--wrapper,
#it--footer .it--wrapper {
transparent;
color: #fff;
}
#it--content {
  box-shadow: 0 0px 50px 75px #313131;
}
#it--content .it--wrapper {
    padding: 20px 70px;
}
#it--header .it--wrapper {
    /*height: 100px;*/
    padding: 5px;
/*border-top: 15px solid #6b6635;*/
}

#it--footer .it--wrapper {
/*border-top: 15px solid #6b6635;*/
padding-bottom: 20px;
}

#it--header .it--logo  {
    /*height: 50px;*/
    background-position: right 0;
    background-size: auto 100%;
    text-align: center;
}

#it--header .it--slogan {
color: #303030;
font-size:  22px;
position: absolute;
top: 30px;
}
#it--content .title {
  font-family: 'Merriweather', Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
}

.it--banner {
    height: 450px;
    display: block;
    position: relative;
}
#it--content .attributes{
  margin: 15px;
  padding: 15px;
  background-color: #f5f5f5;
}
#it--content .attributes table {
    width: 100%;
    text-align: left;
    font-size: 90%;

}

#it--content .attributes th,
#it--content .attributes td {
    padding: 2px;
}
#it--content .attributes th {
    background: #f5f5f5;
}
#it--content .attributes td {
    border-bottom: 1px solid #ddd;
}
#it--content .attributes tr td{
    padding: 10px;
}
#it--content .attributes tr td:first-child {
    width: 60%;
}
#it--content .attributes tr:last-child td {
    border: none;
}
/*#it--content .image {text-align: right;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;overflow: hidden;position: relative;z-index:0;}
.zoom-item {height: 20%;width: 20%;}
.zoom-item:hover ~ img {height: 150%;width: 150%;}
.zoom-item:hover:nth-of-type(5n + 1) ~ img { left: 0px; }
.zoom-item:hover:nth-of-type(1n + 1) ~ .zoom-image { top: 0px; }
.zoom-itm:hover:nth-of-type(5n + 2) ~ img { left: -50px; }
.zoom-itm:hover:nth-of-type(1n + 6) ~ .zoom-image { top: -50px; }
.zoom-itm:hover:nth-of-type(5n + 3) ~ img { left: -100px; }
.zoom-itm:hover:nth-of-type(1n + 11) ~ .zoom-image { top: -100px; }
.zoom-itm:hover:nth-of-type(5n + 4) ~ img { left: -150px; }
.zoom-itm:hover:nth-of-type(1n + 16) ~ .zoom-image { top: -150px; }
.zoom-itm:hover:nth-of-type(5n + 5) ~ img { left: -200px; }
.zoom-itm:hover:nth-of-type(1n + 21) ~ .zoom-image { top: -200px; }
.zoom-image {height: 100%;left: 0;position: absolute;top: 0;-webkit-transition: all 0.25s;transition: all 0.25s;width: 100%;z-index: -1;}*/
#it--content .image img {
    max-width: 100%;
    min-width: 100%;
}
#it--footer .it--logo {
    height: 250px;
    left: 0;
    position: relative;
    top: 20px;
    width: 200px;
    background-size: auto 100%;
}
#it--footer .it--slogan {
    margin: 20px 0 0 0;
    font-size: 90%;
}
#it--footer .it--description {
    font-size: 80%;
    margin: 20px 0 0 0;
    width: 25%;
    opacity: .6;
}

#LeftPanel {
    color: #000;
}
#CentralArea {
    padding-top: 20px;
}

.pagecontainer #it--header {
    display: block;
    margin-bottom: -18px;
}

.pagecontainer #it--header .it--logo {
    position: absolute;
    width: 230px;
    height: 450px;
background-color: #4f3131;
top: 0;
left: 0;
background-size: auto 40px;
background-position: 30px 100px;
opacity: .8;
}

.pagecontainer #it--header .it--slogan {
    width: 16%;
    position: absolute;
    margin: 0;
    top: 150px;
    left: 30px;
    font-size: 95%;
}

table.v4acpcont {
    background: none;
    margin-bottom: 0;
    padding: 10px 0 20px;
}

.v4acp_head .v4accent,
.v4mid .ttl {
    display: none;
}
table.v4midBox{
    border: none;
}
table.v4acp tr.v4acp_head td.v4title {
    background: none;
    color: #000;
    display: block;
    padding: 5px 0 !important;
}
table.v4midBox tr.v4acp_mid td.v4mid {
    background: none;
    padding: 0;
}
table.v4clp td ul {
    margin: 0;
}
body #LeftPanel a:link, body .g-novisited a:visited,
.v4mid a ,
.lcat .cnt {
    color: #000;
    font-weight: normal;
}
table.v4clp td {
    padding-top: 0;
}
.v4mid li {
    margin: 2px 0 !important;
    list-style: none;
}
.v4acp font {
    color: #000;
}
.r3_t i, .r3_bl i,
.r3_hm, .r3_c, .r3_s {
    border: none;
}
.ctrlbr {
    border: none;
    padding: 10px 0;
    margin-top: -1.5em;
}
td#CentralArea span.pdmt {
    float: right;
    padding: 0;
}
span.pdmt .cur {
    color: #000;
    display: inline-block;
    font-weight: normal;
    height: 20px;
    line-height: 20px;
    padding: 7px 10px;
    background: #fff;
}
.stBadge-accent,
td#CentralArea div.v4stabl,
td#CentralArea span.pdmt:first-child,
.r3_t, .r3_t b, .r3_bl, .r3_bl b,
.cmpBr,
span.pdmt img,
span.pdmt .label,
.itemseparator,
.mi,
.clr.time2,
.ttl.g-std img,
.v4title h2,
.whiter-w{
    display: none;
}

.grid td.left,
.rs_box,
td#CentralArea div.dynpg {
    border: none;
}
span.pdmt:after {
    display: inline-block;
    content: '▼';
    width: 34px;
    height: 34px;
    line-height: 34px;
    background: #fff;
    color: #000;
    text-align: center;
    font-weight: normal;
    vertical-align: top;
    font-size: 10px;
}
.fpcc .countClass {
    color: #000;
    font-size: 14px;
    font-weight: normal;
}

.pageminwidth {
    background: #f5f5f5;
}

.grid {
    text-align: right;
}

.grid td.gallery {
    background: #fff;
    display: inline-block;
    padding: 7px 0 7px 10px;
    width: 31%;
    vertical-align: top;
    position: relative;
    padding-bottom: 30px;
    text-align: left;
    margin: 0 0 10px 15px;
}
table.gallery {
    height: 330px;
    background: #fff;
    position: relative;
    display: block;
}
.grid td.gallery:first-child {
    margin-left: 0;
}

table.gallery td.picture div.image a {
    height: 100%;
    left: 0;
    position: absolute;
    top: 20px;
    width: 100%;
    z-index: 10;
}

.ttl.g-std {
    padding: 5px 0;
}
.bin.g-b, .bid.g-b {
background: #6b6635;
color: #303030;
bottom: -10px;
display: block;
font-size: 120%;
font-weight: normal;
padding: 10px 20px;
position: absolute;
left: 50%;
margin-left: -70px;
text-align: center;
width: 100px;
border-radius: 25px;
font-size: 130%;
}

.ttl.g-std a {
    color: #000;
    font-size: 110%;
}
.picture.camera .image {
    width: 100% !important;
}
.picture.camera .image img {
    max-width: 100%;
    max-height: 150px;
}
table.pgbc {
    border: none;
    background: none;
}
.lcat ul.lev1 > li:after {
    content: '▼';
    float: right;
    font-size: 8px;
    color: #666;
    line-height: 18px;
}
.lcat ul.lev1 {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    background: #f5f5f5;
    width: 168px;
}

#storercp {
border-bottom: 15px solid #6b6635;
margin-top: -16px;
}

#storercp:before {
content: "";
display: block;
background: #4f3131 url() 30px 20px no-repeat;
background-size: auto 60px;
color:  #303030;
padding: 130px 900px 20px 30px;
position: relative;
font-size: 90%;
}
.stBadge {
    margin-top: 0 !important;
}
.stBadge:before {
content: "";
color:  #303030;
display: block;
position: relative;
top: 110px;
left: 30px;
font-size: 95%;
z-index: 10;
}

.r3_cm,
.rs-pview {
    padding: 0 !important;
}
