<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link media="all" href="http://pfandkredit-nrw.de/ebayTemplate_2/css/base.css.min" type="text/css" rel="stylesheet">
<link media="all" href="http://pfandkredit-nrw.de/ebayTemplate_2/css/banner-slider.css" type="text/css" rel="stylesheet">
<link media="all" href="http://pfandkredit-nrw.de/ebayTemplate_2/css/template-style.css.min" type="text/css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<img src="http://pfandkredit-nrw.de/ebayTemplate_2/img/uhrwerk.jpg" style="position: fixed;z-index: -2;width: 100%;">
<div style="display: block;width: 100%;height: 100%;position: fixed;background: #313131;z-index: -1;opacity: 0.7;"></div>
<div class="gallery autoplay items-3">
    <div id="item-1" class="control-operator"></div>
    <div id="item-2" class="control-operator"></div>
    <div id="item-3" class="control-operator"></div>
    <div id="item-4" class="control-operator"></div>
    <figure class="item">
        <img src="http://pfandkredit-nrw.de/ebayTemplate_2/img/banner/leihhaus-hannover.jpg"/>
    </figure>
    <figure class="item">
        <img src="http://pfandkredit-nrw.de/ebayTemplate_2/img/banner/leihhaus-bochum.jpg"/>
    </figure>
    <figure class="item">
        <img src="http://pfandkredit-nrw.de/ebayTemplate_2/img/banner/leihhaus-wuppertal.jpg"/>
    </figure>
    <figure class="item">
        <img src="http://pfandkredit-nrw.de/ebayTemplate_2/img/banner/leihhaus-duisburg.jpg"/>
    </figure>
</div>
<div id="menu">
    <ul>
        <li><a target="_top" href="#versand">Versand</a></li>
        <li><a target="_top" href="#lieferumfang">Lieferumfang</a></li>
        <li><a target="_top" href="#garantie">Garantie</a></li>
        <li><a target="_top" href="#zahlungsmethoden">Zahlungsmethoden</a></li>
        <li><a target="_top" href="#vorort">Besuchen Sie uns vor Ort</a></li>
        <li><a target="_top" href="#impressum">Impressum & Kontakt</a></li>
</div>
<div id="it--header">
    <div class="it--wrapper">
        <a class="it--logo"><img src="http://pfandkredit-nrw.de/ebayTemplate_2/img/edeluhren-logo-01.png"/></a>
        <div class="it--slogan"></div>
    </div>
</div>
<div class="tel">
    <span>Kontaktieren Sie uns bei Fragen unter:</span>
    <span><a href="tel:+4920149060727"><em class="fa fa-phone-square"></em>0201 / 49 06 07 27</a></span>
</div>
<div id="it--content">
    <div class="it--wrapper">
        <div class="it-clearfix">
            <h2 class="title"><!-- UEBERSCHRIFT --></h2>
            <div class="right">
                <!-- F&uuml;r M2E ersetzen -->
                <div class="image"><!-- BILDERSPALTE1 --></div>
                <div class="image"><!-- BILDERSPALTE2 --></div>
                <div class="image"><!-- BILDERSPALTE3 --></div>
                <div class="image"><!-- BILDERSPALTE4 --></div>
                <div class="image"><!-- BILDERSPALTE5 --></div>
                <div class="image"><!-- BILDERSPALTE6 --></div>
                <div class="image"><!-- BILDERSPALTE7 --></div>
                <div class="image"><!-- BILDERSPALTE8 --></div>
                <div class="image"><!-- BILDERSPALTE9 --></div>
                <div class="image"><!-- BILDERSPALTE10 --></div>
                <!-- F&uuml;r M2E ersetzen -->
            </div>
            <div class="left">
                <div class="price">
                    <div class="worth">
                        
                        <h2>Wiederbeschaffungswert ca.</h2>
<span><!-- NEUPREIS --> &euro;</span>
                    </div>
                    <div class="regular-price">
                        <h2>Unser Preis</h2>
                        <span><!-- UNSERPREIS --> &euro;</span>
                        <!--                  <p>
                                            <em>Anfallende USt. ist im Preis enthalten</em>
                                          </p>
                        -->
                    </div>

                </div>
                <div class="description">
                    <h1>Beschreibung</h1>
                    <p>
                        <!-- STORY -->
                    </p>
                </div>
                <div class="attributes">
                    <h1>Details</h1>
                    <p id="sku">Produktnummer: <!-- PRODUKTNUMMER --></p>
                    <!-- F&uuml;r M2E ersetzen -->
                    <!--                <table>
                                      <tr>
                                        <td>L&auml;nge ca.</td>
                                        <td>42 cm</td>
                                      </tr>
                                      <tr>
                                        <td>Ma&szlig;e ca.</td>
                                        <td>40,30 x 16,00 mm</td>
                                      </tr>
                                      <tr>
                                        <td>St&auml;rke ca. </td>
                                        <td>7,80 mm</td>
                                      </tr>
                                    </table>-->
                    <!-- F&uuml;r M2E ersetzen -->
                    <!--<ul>
                      <li> </li>
                      <li> </li>
                      <li></li>
                      <li>Gearbeitet in 750er/000 Gelbgold</li>
                      <li>Gewicht ca. 10,6 Gramm</li>
                    </ul>-->
                    <!-- BESCHREIBUNG -->
                </div>
                <div id="lieferumfang" class="info">
                    <h1>Lieferumfang</h1>
                    <p>
                        Beim Kauf dieses Artikels erhalten Sie:
                    </p>
                    <p>
                    <ul>
                        <li>Eine Expertise</li>
                        <li>Eine Rechnung</li>
                        <li>Eine hochwertige Uhrenbox</li>
                        <li>Eine Garantiekarte</li>
                    </ul>
                    <img src="http://pfandkredit-nrw.de/ebayTemplate_2/img/expertise.jpg"/>
                    </p>
                </div>
                <div id="garantie">
                    <h1>Garantie</h1>
                    <p>
                        Wir geben Ihnen eine Garantie f&uuml;r Armbanduhren &uuml;ber einen Zeitraum von 12 Monaten ab &Uuml;bergabe. Die Garantie bezieht sich auf jeden Fabrikations- und Materialfehler und b&uuml;rgt f&uuml;r den gesamten Garantiezeitraum f&uuml;r einen zuverl&auml;ssigen Gang der Uhr. Zus&auml;tzliche Informationen hinsichtlich Geltung, Beginn und Inanspruchnahme und Garantieausschl&uuml;sse finden Sie unter Abschnitt C unserer allgemeinen Gesch&auml;ftsbedingungen, Kundeninformation und Information zur Garantie.
                    </p>
                </div>
                <div id="zahlungsmethoden" class="info payment">
                    <h1>Zahlungsarten</h1>
                    <p>
                        <img src="http://pfandkredit-nrw.de/ebayTemplate_2/img/zahlungsarten/paypal-old.png"/>
                        <img src="http://pfandkredit-nrw.de/ebayTemplate_2/img/zahlungsarten/vorkasse.png"/>
                        <img src="http://pfandkredit-nrw.de/ebayTemplate_2/img/zahlungsarten/nachname.png"/>
                        <img src="http://pfandkredit-nrw.de/ebayTemplate_2/img/zahlungsarten/barzahlung.png"/>
                    </p>
                    <h1>Ratenzahlung</h1>
                    <p>Bei uns haben Sie die M&ouml;glichkeit in Raten zu zahlen. F&uuml;r n&auml;here Informationen wenden Sie sich bitte pers&ouml;nlich an uns.</p>
                </div>
                <div id="versand" class="info">
                    <h1>Versand</h1>
                    <p>Kostenloser Versand innerhalb Deutschlands.</p>
                    <p>Der Versand erfolgt durch ein renommiertes Transportunternehmen.</p>
                    <p>Auf besonderen Wunsch lassen wir den ersteigerten Gegenstand durch einen unserer Boten &uuml;berbringen. Die Kosten f&uuml;r diesen Service sind vom Bieter zu zahlen.</p>
                    <p>Versand per Nachnahme auf Anfrage m&ouml;glich.</p>
                </div>
                <div id="vorort" class="info two-column">
                    <h1>Besuchen Sie uns vor Ort</h1>
                    <p>Besuchen Sie uns vor Ort in einer unseren Filialen in NRW. </p>
                    <div>
                        <h3>Leihhaus Bochum</h3>

                        <img src="http://pfandkredit-nrw.de/ebayTemplate_2/img/leihhaus/mini/Leihhaus_Bochum_mini.png"/>
                        <address>
                            S&uuml;dring 25<br>
                            44787 Bochum<br>
                        </address>
                    </div>
                    <div>

                        <h3>Leihhaus Dortmund</h3>
                        <img src="http://pfandkredit-nrw.de/ebayTemplate_2/img/leihhaus/mini/Leihhaus_Dortmund_mini.png"/>
                        <address>
                            L&uuml;tge Br&uuml;ckstra&szlig;e 16<br>
                            44135 Dortmund
                        </address>
                    </div>
                    <div>
                        <h3>Leihhaus Duisburg</h3>
                        <img src="http://pfandkredit-nrw.de/ebayTemplate_2/img/leihhaus/mini/Leihhaus_Duisburg_mini.png"/>
                        <address>
                            Hamborner Altmarkt 16<br>
                            47166 Duisburg
                        </address>
                    </div>
                    <!--                <div>
                                    <h3>Leihhaus M&uuml;hlheim</h3>
                                    <img src="example/images/leihhaus/mini/Leihhaus_muelheim_mini.jpg"/>
                                      <address>
                                        Viktoriastra&szlig;e 16 - 18<br>
                                        45468 M&uuml;lheim
                                      </address>
                                    </div>-->
                    <!--                <div>
                                      <h3>Leihhaus Rauer</h3>
                                      <img src="example/images/leihhaus/mini/Leihhaus_Dortmund_mini.jpg"/>
                                      <address>
                                        Akazienallee 1<br>
                                        45127 Essen
                                      </address>
                                    </div>-->
                    <!--                <div>
                                      <h3>Leihhaus Gelsenkirchen</h3>
                                      <img src="example/images/leihhaus/mini/Leihhaus_Dortmund_mini.jpg"/>
                                      <address>
                                        Arminstra&szlig;e 23<br>
                                        45879 Gelsenkirchen
                                      </address>
                                    </div>-->
                    <div>
                        <h3>Versteigerungshalle Essen</h3>
                        <img src="http://pfandkredit-nrw.de/ebayTemplate_2/img/leihhaus/mini/Leihhaus_Versteigerungshalle_mini.png"/>
                        <address>
                            Vogelheimer Stra&szlig;e 80<br>
                            45329 Essen
                        </address>
                    </div>
                    <div>
                        <h3>Leihhaus Hannover</h3>
                        <img src="http://pfandkredit-nrw.de/ebayTemplate_2/img/leihhaus/mini/Leihhaus_Hannover_mini.png"/>
                        <address>
                            Schmiedestr. 41<br>
                            30159 Hannover
                        </address>
                    </div>
                    <!--                <div>
                                      <h3>Leihhaus D&uuml;sseldorf</h3>
                                      <address>
                                        Graf-Adolf-Str. 108<br>
                                        40210 D&uuml;sseldorf
                                      </address>
                                    </div>-->
                    <div>
                        <h3>Leihhaus Wuppertal</h3>
                        <img src="http://pfandkredit-nrw.de/ebayTemplate_2/img/leihhaus/mini/Leihhaus_wuppertal_mini.png"/>
                        <address>
                            Neumarktstr. 6<br>
                            42103 Wuppertal
                        </address>
                    </div>
                </div>
                <div class="info">
                    <h1>Besichtigung</h1>
                    <p>Da wir mehrere Filialen haben,
                        bitten wir um eine vorherige Terminabsprache, falls Sie einen unserer Artikel besichtigen wollen. </p>
                    <p>Besichtigungen sind in den Orten Dortmund, Bochum, Essen, Gelsenkirchen oder D&uuml;sseldorf m&ouml;glich.</p>
                    <p>Kontaktieren Sie uns bitte auch vor dem Kauf, falls Sie eine Ver&auml;nderung an Ihrem Wunschartikel durchf&uuml;hren lassen m&ouml;chten.</p>
                </div>
                <div>
                    <h1>Ankauf & Inzahlungnahme</h1>
                    <p>Falls Sie Ihren alten Schmuck, Altgold oder Uhren verkaufen oder in Zahlung f&uuml;r Ihren Wunschartikel geben m&ouml;chten, setzen Sie sich mit uns in Verbindung, um ein unverbindliches Angebot zu bekommen.</p>
                </div>
                <div id="aboutus" class="info">
                    <h1>&Uuml;ber uns</h1>
                    <p>Wir sind Mitglied im Zentralverband des Deutschen Pfandkreditgewerbes e.V.</p>
                    <img src="http://pfandkredit-nrw.de/ebayTemplate_2/img/pfandverband.gif"/>
                    <p>Versteigerung verfallener Pf&auml;nder, Nachl&auml;sse und Konkurse.</p>
                </div>
                <div id="impressum">
                    <h1>Impressum & Kontakt</h1>
                    <h3>Fa. Marita Tingler</h3>
                    <p>
                    <address>
                        Vogelheimer Stra&szlig;e 80<br>
                        45329 Essen
                    </address>
                    </p>
                    <h3>Ihr Ansprechpartner</h3>
                    <p>Wolfgang Moser</p>
                    <a href="tel:+4920149060727">+49 (0) 201 / 49 06 07 27</a>
                    <h3>Unsere &Ouml;ffnungszeiten</h3>
                    <p>
                        Mo. - Do.<br>
                        9:30 Uhr - 17:30 Uhr<br>
                        <br>
                        Fr.<br>
                        9:30 - 16:30 Uhr<br>
                    </p>

                    <p>
                        Mitglied im Bundesverband freier Sachverst&auml;ndigen e. V. <br>
                        <br>
                        Diamantgutachterin <br>
                        <br>
                        Str-Nr.: 111 5301 0937<br>
                        USt-ID-Nr.: DE 8 124 449 10
                    </p>
                </div>
            </div>
        </div>
        <div class="promo">
        </div>
    </div>
</div>
<div class="tel">
    <span>Kontaktieren Sie uns bei Fragen unter:</span>
    <span><a href="tel:0201304050"><em class="fa fa-phone-square"></em>0201 / 49 06 07 27</a></span>
</div>
<div id="it--footer">
    <img src="http://pfandkredit-nrw.de/ebayTemplate_2/img/uhrwerk.jpg" style="
         position: fixed;
         z-index: -2;
         width: 100%;
         /* height: 100%; */
         ">
    <div class="it--wrapper">
        <a class="it--logo"></a>
        <div class="it--slogan"></div>
        <div class="it--description">
        </div>
    </div>
</div>
